.classic {
    padding-top: 64px;
    padding-bottom: 80px;
    @include pad() {
        padding: 40px 0px;
    }
    @include iphone() {
        padding: 24px 0px;
    }
}
.classic-container { //設定寬度
    max-width: $desktop-container__width;
    margin: 0 auto;
    > li {
        margin-bottom: 2rem;
        &:nth-child(even) {
            flex-direction: row-reverse;
            .classic-context {
                justify-content: flex-end;
                padding-right: 24px;
                @include pad(){
                    padding: 0;
                    justify-content: center;
                }
            }
        }
        @include pad() {
            margin-bottom: 8px;
            &:nth-child(even) {
                flex-direction: row;
            }
        }
    }
    > li:last-child {
        margin-bottom: 0;
    }
    @include pad() {
        max-width: $pad-container__width;
    }
    @include iphone() {
        max-width: $iphone-container__width;
    }
}
.classic-title {
    @include desktop-titleFont;
    color: $dark-red;
}
.classic-row {
    display: flex;
}
.classic-img_container { //設定在row的佔比
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    @include iphone() {
        width: 100%;
    }
}
.optical-img {
    background-image: url(../img/desktop_home/8.png);
}
.sunglasses-img {
    background-image: url(../img/desktop_home/pic.png);
    &:hover {
        background-image: url(../img/desktop_home/15.png);
    }
}
.functional-img {
    background-image: url(../img/desktop_home/28.png);
}
.classic-img {
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 100%;
    @include pad() {
        height: 168px;
    }
    @include iphone() {
        height: 134px;
    }
}
.classic-context_container { //設定在row的佔比
    display: flex;
    align-items: center;
    width: 40%;
    padding-left: 24px;
    @include iphone() {
        display: none;
    }
}
.classic-context { //設定文字群組，在響應式時，可變換不同位置
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    @include pad() {
        justify-content: center;
    }
    h3 {
        @include classic__rowTitleFont;
    }
}
.classic-md-context {
    display: none;
    @include iphone() {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
