// co-branding區塊   
    .co-branding__bgImg {
        height: 2162px;
        padding-top: 64px;
        margin-bottom: 306px;
        background-image: url(../img/desktop_home/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        @include pad() {
        height: 1221px;
        margin-bottom: 632px;  
        }
        @include iphone() {
            height: 1096px;
            margin-bottom: 1692px;
        }
    }
// co-branding gallery
    .co-branding__container {
        display: flex;
        max-width: 1530px;
        height: 840px;
        margin: 0 auto;
        margin-bottom: 60px;
        @include pad() {
            max-width: $pad-container__width;
            height: 367px;
            margin-bottom: 40px;
        }
        @include iphone() {
            max-width: $iphone-container__width;
            height: 226px;
            padding: 0px 12px;
            margin-bottom: 20px;
        }
    }
    .co-branding__title, .customer__title {
        @include desktop-titleFont;
        color: $white;
    }

// co-branding container-left
    .branding-left_blackBoy {
        background-image: url(../img/desktop_home/zac-wolff-2qfYizn95pk-unsplash.png);
        @include bgImgCenter;
        width: 37%;
        @include iphone() {
            width: 50%;
        }
    }
    .branding-right {
        width: 63%;
        @include iphone() {
            width: 50%;
        }
    }
    .branding-rightTop__girl {
        background-image: url(../img/desktop_home/61.png);
        @include bgImgCenter;
        width: 100%;
        height: 100%;
    }
    .branding-blackAndWhite-pic-girl {
        background-image: url(../img/desktop_home/34.png);
        @include bgImgCenter;
        width: 100%;
        height: 100%;
    }
    .branding-rightBottom__group {
        @include iphone() {
            height: 69%;
        }
    }
    .branding-blackAndWhite-pic-boy {
        background-image: url(../img/desktop_home/24.png);
        @include bgImgCenter;
        width: 100%;
        height: 100%;
    }

// MORE區塊
    .branding-more {
        position: relative;
        background-color: #fff;
        padding-left: 32px;
        padding-right: 19px;
        @include pad() {
            padding-left: 19px;
            padding-right: 11px;
        }
        @include iphone() {
            padding-left: 12px;
            padding-right: 14px;
        }
        img {
            @include pad {
                width: 27px;
            }
            @include iphone() {
                width: 18px;
            }
        }
    }

//MORE文字
    .more {
        position: relative;
        font-size: 4.5rem;
        color: $red;
        font-weight: 700;
        margin-right: .5rem;
        @include pad() {
            font-size: 40px;
        }
        @include iphone() {
            font-size: 26px;
        }

        // 滑過動畫
        &::before {
            content: 'MORE';
            position: absolute;
        }
        &::after {
            content: 'MORE';
            position: absolute;
            left: 0;
        }
        &:hover::before {
            opacity: .7;
            transform: translateY(-80%);
            transition: all .6s .2s ease-in-out;
        }
        &:hover::after {
            opacity: .3;
            transform: translateY(-130%);
            transition: all .6s .2s ease-in-out;
        }
    }

// 黃色眼鏡圖片
    .branding-more::before {
        content: '';
        position: absolute;
        background-image: url(../img/desktop_home/5.png);
        right: 84px;
        width: 259px;
        height: 167px;
        z-index: -1;
        @include pad() {
            right: 48px;
            width: 147px;
            height: 77px;
        }
        @include iphone() {
            right: 27px;
            width: 102px;
            height: 53px;
        }
    }


// doubleA-youth block
    .doubleA-youth__container {
        max-width: $desktop-container__width;
        margin: 0 auto;
        margin-bottom: 144px;
        @include pad() {
            max-width: $pad-container__width;
            margin-bottom: 40px;
        }
        @include iphone() {
            max-width: $iphone-container__width;
            margin-bottom: 24px;
        }
    }
    .doubleA-youth__row {
        @include iphone() {
            ul:nth-child(n+2) {
                margin-top: 20px;
            }
        }
    }
    .doubleA-youth__group {
        width: 49%;
        height: 592px;
        @include pad() {
            height: 280px;
        }
        @include iphone() {
            justify-content: space-around;
            width: 100%;
            height: 284px;
        }
    }
    .doubleA__bgimg {
        background-image: url(../img/desktop_home/14.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    .youth__bgimg {
        background-image: url(../img/desktop_home/39.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    .doubleA-youth__whitebox, .doubleA-youth__title {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .doubleA-youth__whitebox {
        background-color: rgba(255, 255, 255, .5);
    }
    .doubleA-youth__title {
        font-weight: 700;
        font-size: 4.5rem;
        color:$red;
    }
// customer-recommendation
    .customer__container {
        max-width: $desktop-container__width;
        margin: 0 auto;
        @include pad() {
            max-width: $pad-container__width;
        }
        @include iphone() {
            max-width: $iphone-container__width;
        }
    }
    .customer__card {
        width: 23.5%;
        @include pad() {
            width: 48%;
        }
        @include iphone() {
            width: 100%;
        }

    }
    .customer__card-img {
        img {
            width: 100%;
        }
    }
    .customer__card-caption {
        padding: 16px;
        border-left: 1px solid #DEE2E6;
        border-right: 1px solid #DEE2E6;
        border-bottom: 1px solid #DEE2E6;
    }
    .customer__updateTimeFont {
        color: #707070;
    }
