/* _____________________ nav _____________________ */
    .nav {
        position: relative;
        padding: 0px 88px;
        font-size: 20px;
        @include pad() {
            padding: 0px 48px;
        }
        @include iphone() {
            padding: 10px 0px;
        }

    }

    //desktop, pad
    .nav-md-logo {
        background-image: url(../img/desktop_home/logo-new_1.png);
        width: 80px;
        height: 49px;
        @include hide-text;
    }
    .nav-md-btn li {
        width: 144px;
    }
    .nav-md-btn a {
        display: block;
        padding-top: 39px;
        padding-bottom: 32px;
        border-bottom: 7px solid transparent;
        &:hover {
            border-bottom: 7px solid #fff;
        }

    }

    //iphone
    .nav-collapse {
        //pos-a
        top: 50%; 
        left: 16px;
        //因為外層container(這裡指的是.nav)是dropdown的基準點
        //如果在外層container設pl-16px
        //則dropdown也會跟著偏移16px，所以這裡用.nav-collapse本身left:16px往內推
        transform: translateY(-50%);
    }
    .nav-dropdown {
        position: absolute;
        width: 100%;
        top: 100%;
        background-color: $red;
        max-height: 0px;
        overflow: hidden;
        transition: max-height .6s ease-in-out;
        a {
            padding: 14px 0px;
        }
        li {
            border-top: 1px solid #fff;
            &:last-child {
                border-bottom: 1px solid #fff;
            }
        }
        &.open { //要加＆，因為直接寫.open，等於是子代的意思（.nav-dropsdown .open
            max-height: 240px;
        }
    }


/* _____________________ footer _____________________ */
    .footer {
        background-color: $red;
        color: $white;
    }
    .footer-container {
        max-width: $desktop-container__width;
        margin: 0 auto;
        padding: 48px 25px 28px;
        @include pad() {
            max-width: $pad-container__width;
            padding: 40px 0px;
        }
        @include iphone() {
            max-width: $iphone-container__width;
            padding: 24px 0px;
        }
    }
    //up
    .footer-up {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        margin-bottom: 24px;
    }
    //up-left
    .footer-up-left {
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    .footer-row-nav {   // 設定ipone-breakpoint時不見
        display: flex;
        margin-bottom: 2.3rem;
        @include iphone() {
            display: none;
        }
    }
    .footer-nav {
        display: flex;
        li {
            padding-right: 3rem;
        }
    }
    .footer-phone, .footer-mail {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img {
            @include pad() {
                width: 30px;
            }
            @include iphone() {
                width: 13px;
            }
        }

        p {
            font-size: 2rem;
            padding-left: 1.5rem;
            @include pad() {
                font-size: 20px;
                padding-left: 12px;
            }
            @include iphone() {
                font-size: 16px;
                padding-left: 8px;
            }
        }
    }
    // up-left
    .footer-up-right {
        display: flex;
        justify-content: flex-end;
        align-items: start;
        width: 40%;
        img {
            @include pad() {
                width: 24px;
            }
        }
        li {
            padding-right: 3rem;
            &:last-child {
                padding-right: 0px;
            }
        }
    }
    // bottom
    .footer-bottom {
        display: flex;
        justify-content: space-between;
    }
    .footer-bottom-left {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
            @include iphone() {
                width: 75%;
                flex-direction: column;
                align-items: start;
            }
    }
    .footer-md-logo {
        background-image: url(../img/desktop_home/logo-new_1.png);
        width: 80px;
        height: 49px;
        margin-right: 38px;
        @include hide-text;
        @include pad() {
            display: none;
        }
    }
    .footer-rules {
        display: flex;
        justify-content: flex-end;
        div {
            padding-left: 3.8rem;
        }
        @include iphone() {
            flex-direction: column;
            justify-content: flex-start;
            div {
                padding-left: 0;
                margin-top: 8px;
            }
        }
    }
    .footer-bottom-right {
        display: none;
        @include iphone() {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 25%;
        }
    }
    .footer-sm-logo {
        background-image: url(../img/iphone_home/logo-new_1.png);
        width: 46px;
        height: 28px;
        @include hide-text;
    }