/* _____________________ text _____________________ */
    @mixin hide-text {
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
    }
    @mixin desktop-titleFont {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 3.5rem;
    }
    @mixin classic__rowTitleFont {
        padding-left: 8px;
        font-size: 3rem;
        font-style: italic;
        text-transform: uppercase;
        color: $red;
        @include pad() {
            font-size: 2.4rem;
        }
        @include iphone() {
            color: $white;
        }
    }
    @mixin bgImgCenter {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }


/* _____________________ media query _____________________ */
    @mixin pad {
        @media screen and (max-width: 992px){
            @content
        }
    }

    @mixin iphone {
        @media screen and (max-width: 767px){
            @content
        }
    }