/* _____________________ color _____________________ */
$red:#AA0601;
$dark-red:#650300;
$pink:rgba(170, 6, 1, 0.05);
$white:#fff;
$black:#000;

/* _____________________ width, height _____________________ */
$desktop-container__width: 1200px;
$pad-container__width: 672px;
$iphone-container__width: 352px;

